body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  color: #797979; }

p {
  font-size: smaller;
  font-weight: bold; }

.left {
  float: left; }

.right {
  float: right; }

.left, .right {
  width: 50%;
  position: static; }
  @media (max-width: 768px) {
    .left, .right {
      float: none;
      width: auto; } }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  .container :after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.select {
  position: static;
  height: 90px; }
  .select span {
    font-size: 10px;
    color: #de160f; }

img {
  pointer-events: none; }

.select__ul {
  border: 2px solid #dddddd;
  border-radius: 2px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 500px;
  width: 100%;
  position: relative; }
  .select__ul:hover {
    color: #000000; }
  .select__ul li {
    background-color: white;
    color: #767676;
    padding: 15px; }
    .select__ul li:first-of-type {
      position: static; }
    .select__ul li:not(:first-of-type) {
      display: none; }
  .select__ul.select__ul--active {
    border: 2px solid #767676;
    z-index: 99; }
    .select__ul.select__ul--active li {
      display: block; }
      .select__ul.select__ul--active li:first-of-type {
        z-index: 99;
        color: #767676;
        font-size: 12px;
        top: -12px;
        left: 10px;
        padding: 5px;
        position: absolute;
        pointer-events: none; }
  .select__ul.select__ul--disabled {
    pointer-events: none;
    cursor: default;
    color: #dddddd; }
    .select__ul.select__ul--disabled:hover {
      border: 2px solid #dddddd; }
    .select__ul.select__ul--disabled li {
      color: #dddddd; }
  .select__ul.select__ul--error {
    border-bottom-color: #de160f; }
  .select__ul:hover {
    border: 2px solid #000000; }

.select__ul--selected {
  background-color: white;
  border: 2px solid #dddddd;
  border-bottom-color: #17b722;
  border-radius: 2px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 500px;
  width: 100%;
  position: relative; }
  .select__ul--selected li {
    color: #767676;
    padding: 15px;
    position: relative;
    display: none; }
    .select__ul--selected li:first-of-type {
      background-color: white;
      color: #767676;
      font-size: 12px;
      top: -12px;
      left: 10px;
      padding: 5px;
      position: absolute;
      pointer-events: none; }
    .select__ul--selected li.selected {
      color: #000000;
      display: block;
      position: static; }
    .select__ul--selected li:first-of-type {
      display: block; }
  .select__ul--selected.select__ul--active {
    border: 2px solid #767676;
    z-index: 99; }
    .select__ul--selected.select__ul--active li {
      display: block; }
      .select__ul--selected.select__ul--active li:hover, .select__ul--selected.select__ul--active li.selected {
        color: #000000; }
  .select__ul--selected.select__ul--disabled {
    pointer-events: none;
    border: 2px solid #dddddd;
    cursor: default;
    color: #dddddd; }
    .select__ul--selected.select__ul--disabled:hover {
      border: 2px solid #dddddd;
      color: #dddddd; }
    .select__ul--selected.select__ul--disabled li {
      color: #dddddd; }
  .select__ul--selected:hover {
    border: 2px solid #000000; }
