//font
$font-family:     Arial, "Helvetica Neue", Helvetica, sans-serif;
$primary-color:   #797979;

//colors
$light-grey: #dddddd;
$grey: #767676;
$black: #000000;
$success-color: #17b722;
$error-color: #de160f;

//widths
$li-width: 500px;

//media queries
$small-devices:     768px;
$medium-devices:    992px;
$large-devices:     1200px;

body {
  font-family: $font-family;
  font-style: normal;
  font-variant: normal;
  color: $primary-color;
}

p {
  font-size: smaller;
  font-weight: bold;
}
.left {
  float: left;
}
.right {
  float: right;
}
.left, .right {
  width: 50%;
  position: static;

  @media (max-width: $small-devices) {
    float: none;
    width: auto;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  :after {
    content:"";
    display: table;
    clear: both;
  }

  @media (min-width: $small-devices) {
    width: 750px;
  }

  @media (min-width: $medium-devices) {
    width: 970px;
  }

  @media (min-width: $large-devices) {
    width: 1170px;
  }
}

.select {
  position: static;
  height: 86px;
}

.select__ul {
   border: 2px solid $light-grey;
   border-radius: 2px;
   cursor: pointer;
   margin: 0;
   padding: 0;
   list-style-type: none;
   max-width: $li-width;
   width: 100%;

  &:hover {
    color: $black;
  }

   li {
     background-color: white;
     color: $grey;
     padding: 15px;

     &:first-of-type {
       position: static;
     }

     &:not(:first-of-type) {
       display: none;
     }
   }

   &.select__ul--active {
     border: 2px solid $grey;

     li {
       display: block;
       position: static;
       z-index: 99;

       &:first-of-type {
         z-index: 99;
         color: $grey;
         font-size: 12px;
         top: -12px;
         left: 10px;
         padding: 5px;
         position: absolute;
       }
     }
   }

   &.select__ul--disabled {
     cursor: default;
     color: $light-grey;

     &:hover {
       border: 2px solid $light-grey;
     }

     li {
       color: $light-grey;
     }
   }

   &.select__ul--error {
      border-bottom-color: $error-color;
   }

  &:hover {
    border: 2px solid $black;
  }
 }

.select__ul--selected {
  background-color: white;
  border: 2px solid $light-grey;
  border-bottom-color: $success-color;
  border-radius: 2px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: $li-width;
  width: 100%;
  position: relative;

  li {
    color: $grey;
    padding: 15px;
    position: relative;
    display: none;

    &:first-of-type {
      background-color: white;
      color: $grey;
      font-size: 12px;
      top: -12px;
      left: 10px;
      padding: 5px;
      position: absolute;
    }

    &.selected {
      color: $black;
      display: block;
      position: static;
    }

    &:first-of-type {
      display: block;
    }
  }

  &.select__ul--active {
    border: 2px solid $grey;

    li {
      display: block;

      &:hover, &.selected {
        color: $black;
      }
    }
  }

  &.select__ul--disabled {
    border: 2px solid $light-grey;
    cursor: default;
    color: $light-grey;

    &:hover {
      border: 2px solid $light-grey;
      color: $light-grey;
    }

    li {
      color: $light-grey;
    }
  }

  &:hover {
    border: 2px solid $dark-grey;
  }

}